.Padre-Lista-Post {
    position: relative;
}

.body-Card-Lista-Post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-Home-Post {
    width: 20rem;
    height: 12rem;
}

.card-Title-Lista-Post {
    text-align: center;
}

.container-Btns-Post-Lista {
    display: flex;
    justify-content: space-evenly;
}

.editar-Btn-Lista-Post {
    width: 27%;
    background-color: #ffca2c;
    text-align: center;
    text-decoration: none;
    padding-top: 2%;
    color: black;
    border-radius: 5px;
}

.editar-Btn-Lista-Post:hover {
    color: black;
    background-color: #ebba29;
}

@media(max-width:768px) {
    .container-Btns-Post-Lista {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .card-Home-Post {
        width: 15rem;
        height: 20rem;
    }
    .eliminar-Btn-Lista-Post, .detalles-Btn-Lista-Post {
        width: 100%;
    }
    .editar-Btn-Lista-Post {
        width: 100%;
        padding: .4rem;
    }
}

@media(max-width:425px) {
    .card-Home-Post {
        width: 12rem;
    }
}

@media(max-width:375px) {
    .card-Home-Post {
        width: 11rem;
    }
    .card-Title-Lista-Post{
        font-size: 15px;
    }
}
@media(max-width:320px){
    .card-Home-Post{
        width: 19rem;
        margin-bottom: 5%;
    }
}